<nav class="navbar container-fluid">
  <img
    id="nav-img"
    class="img-fluid"
    src="https://i.imgur.com/svK372M.png"
    alt=""
  />
  <div class="nav-items">
    <button class="btn-danger">+</button>
    <button class="btn-danger">logout</button>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
