.navbar {
  background-image: url("https://i.imgur.com/svK372M.png");
  background-size: cover;
  height: 300px;
  transition: all 0.3s;
}

@media (max-width: 3000px) {
  .navbar {
    height: 200px;
  }
}
@media (max-width: 2100px) {
  .navbar {
    height: 160px;
  }
}
@media (max-width: 1775px) {
  .navbar {
    height: 130px;
  }
}
@media (max-width: 1500px) {
  .navbar {
    height: 110px;
  }
}
@media (max-width: 1240px) {
  .navbar {
    height: 90px;
  }
}
@media (max-width: 1020px) {
  .navbar {
    height: 75px;
  }
}
@media (max-width: 800px) {
  .navbar {
    height: 60px;
  }
}
@media (max-width: 615px) {
  .navbar {
    height: 45px;
  }
  button,
  input {
    height: 30px;
    font-size: 12px;
    padding: 4px 10px;
  }
}
@media (max-width: 465px) {
  .navbar {
    height: 40px;
  }
  button,
  input {
    height: 25px;
    padding: 1px 10px;
    margin: 2px !important;
  }
}
@media (max-width: 415px) {
  .navbar {
    height: 30px;
  }
  button,
  input {
    font-size: 8px;

    height: 15px;
    padding: 0 6px;
    margin: 1px !important;
  }
}
@media (max-width: 315px) {
  .navbar {
    height: 20px;
    padding: 0;
  }
  button,
  input {
    font-size: 5px;
    height: 10px;
    margin: 0 1px !important;
  }
}
