.notes-page-container {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(
    to right,
    #00c6ff,
    #00a8ff,
    #468bff,
    #8061ff,
    #9649ff
  );
}

.all-notes-container {
  border-right: 4px solid #179eff6e;
}

.note-preview {
  border-bottom: 4px solid #179eff6e;
}

.current-note-container {
  padding: 35px;
}
